/*
|------------------------------------------------------|
|===========|  FONTS & COLORS & SCROLL BAR  |==========|
|------------------------------------------------------|
*/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 25px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

@font-face {
  font-family: estedad;
  src: url("../fonts/Estedad-FD-Regular.ttf");
}

@font-face {
  font-family: vazir;
  src: url("../fonts/Vazirmatn-Regular.woff2");
}

:root {
  --font-header: estedad;
  --font-default: vazir;
}

:root {
  --color-accent: #1e90ff;
  --color-primary: #3c9fff;
  --color-secondary: #0081ff;
}

.light-mode {
  --color-heading: #212324;
  --color-default: #303233;
  --color-background: #f3f4f6;
}

.dark-mode {
  --color-heading: #f3f4f6;
  --color-default: #d1dae7;
  --color-background: #212324;
}

/*
|------------------------------------------------------|
|===================|  LOAD SCREEN  |==================|
|------------------------------------------------------|
*/

#loader-box {
  width: 100%;
  height: 76vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 4px;
  color: var(--color-accent);
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 0px, 19px 0 0 5px,
    38px 0 0 5px, 57px 0 0 5px, 19px 19px 0 0px, 38px 19px 0 0px,
    57px 19px 0 0px;
  transform: translateX(-38px);
  animation: l26 2s infinite linear;
}
@keyframes l26 {
  12.5% {
    box-shadow: 19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 5px,
      19px 0 0 5px, 38px 0 0 0px, 57px 0 0 5px, 19px 19px 0 0px, 38px 19px 0 0px,
      57px 19px 0 0px;
  }
  25% {
    box-shadow: 19px -19px 0 5px, 38px -19px 0 0px, 57px -19px 0 5px,
      19px 0 0 0px, 38px 0 0 0px, 57px 0 0 0px, 19px 19px 0 0px, 38px 19px 0 5px,
      57px 19px 0 0px;
  }
  50% {
    box-shadow: 19px -19px 0 5px, 38px -19px 0 5px, 57px -19px 0 0px,
      19px 0 0 0px, 38px 0 0 0px, 57px 0 0 0px, 19px 19px 0 0px, 38px 19px 0 0px,
      57px 19px 0 5px;
  }
  62.5% {
    box-shadow: 19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 0px,
      19px 0 0 5px, 38px 0 0 0px, 57px 0 0 0px, 19px 19px 0 0px, 38px 19px 0 5px,
      57px 19px 0 5px;
  }
  75% {
    box-shadow: 19px -19px 0 0px, 38px -19px 0 5px, 57px -19px 0 0px,
      19px 0 0 0px, 38px 0 0 0px, 57px 0 0 5px, 19px 19px 0 0px, 38px 19px 0 0px,
      57px 19px 0 5px;
  }
  87.5% {
    box-shadow: 19px -19px 0 0px, 38px -19px 0 5px, 57px -19px 0 0px,
      19px 0 0 0px, 38px 0 0 5px, 57px 0 0 0px, 19px 19px 0 5px, 38px 19px 0 0px,
      57px 19px 0 0px;
  }
}

/*
|------------------------------------------------------|
|=====================|  GLOBAL  |=====================|
|------------------------------------------------------|
*/

body {
  background-color: var(--color-background);
  overflow-x: hidden;
  color: var(--color-default);
  font-family: var(--font-default);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  color: var(--color-heading);
}

.d-flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.f-wrap {
  flex-wrap: wrap;
}

.gap-1 {
  gap: 0.375rem;
}

.gap-2 {
  gap: 0.75rem;
}

.gap-3 {
  gap: 1.5rem;
}

.p-1 {
  padding: 0.375rem;
}

.p-2 {
  padding: 0.75rem;
}

.p-3 {
  padding: 1.5rem;
}

.container {
  max-width: 1200px;
  padding: 1rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--color-default);
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

button {
  font-family: vazir;
}

#go-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--color-accent);
  border: 0;
  padding: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
  transform: translateY(80px);
}

#go-top:hover {
  background-color: var(--color-primary);
}

#go-top i {
  color: var(--color-default);
  font-size: 28px;
}

  
select option {
  color: #212324;
}

/*
|------------------------------------------------------|
|====================|  PATTERNS  |====================|
|------------------------------------------------------|
*/

#circle1 {
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-color: #0080ff21;
  position: fixed;
  top: -400px;
  right: -200px;
  z-index: -100;
}

#circle2 {
  width: 800px;
  height: 800px;
  border-radius: 50%;
  border: 5px solid #0080ff21;
  position: fixed;
  top: 300px;
  right: 1150px;
  z-index: -100;
}

#circle3 {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #0080ff21;
  position: fixed;
  top: 800px;
  right: 1000px;
  z-index: -100;
}

#circle4 {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #0080ff21;
  position: fixed;
  top: 600px;
  right: 150px;
  z-index: -100;
}

/*
|------------------------------------------------------|
|======================|  MENU  |======================|
|------------------------------------------------------|
*/

nav {
  position: relative;
}

nav a {
  padding: 10px;
}

nav a:hover {
  color: var(--color-primary);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav .line {
  width: 50px;
  height: 2px;
  background-color: var(--color-primary);
  border-radius: 25px;
  opacity: 0;
  -webkit-transform: translateX(70px);
  transform: translateX(70px);
  position: absolute;
  top: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav a:nth-child(1):hover ~ .line {
  width: 45px;
  -webkit-transform: translateX(-1px);
  transform: translateX(-1px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

nav a:nth-child(2):hover ~ .line {
  width: 60px;
  -webkit-transform: translateX(-47px);
  transform: translateX(-47px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

nav a:nth-child(3):hover ~ .line {
  width: 70px;
  transform: translateX(-105px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

nav a:nth-child(4):hover ~ .line {
  width: 110px;
  transform: translateX(-175px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

nav a:nth-child(5):hover ~ .line {
  width: 90px;
  transform: translateX(-282px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

header button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

header button i {
  color: var(--color-default);
  font-size: 20px;
}

/*
|------------------------------------------------------|
|=====================|  BANNER  |=====================|
|------------------------------------------------------|
*/

.slider {
  height: 400px;
}

.slider .slick-slider {
  height: 400px;
}

.slider .slick-slider .slick-list {
  height: 400px;
  border-radius: 10px;
  cursor: pointer;
}

.slider .slick-slider .slick-list img {
  height: 400px;
  border-radius: 10px;
}

.slick-prev:before,
.slick-next:before {
  color: var(--color-default);
}

/*
|------------------------------------------------------|
|===================|  CATEGORIES  |===================|
|------------------------------------------------------|
*/

.category-title h2 {
  margin: 5px;
}

.category-title .under-line {
  width: 200px;
  height: 3px;
  background-color: var(--color-primary);
  border-radius: 25px;
}

.categories {
  margin: 20px 0;
}

.category-box {
  background-color: var(--color-background);
  width: 20%;
  margin: 4.2px;
  padding: 25px;
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  cursor: pointer;
}

body.light-mode .category-box {
  background-color: #ececec;
  transition: all 0.2s ease;
}

body.light-mode .category-box:hover {
  background-color: #dedede;
  transition: all 0.2s ease;
  box-shadow: 0 0 10px var(--color-primary);
}

body.dark-mode .category-box {
  background-color: #262729;
  transition: all 0.2s ease;
}

body.dark-mode .category-box:hover {
  background-color: #363636;
  transition: all 0.2s ease;
  box-shadow: 0 0 10px var(--color-primary);
}

.category-box img {
  width: 60%;
}

.category-box h2 {
  font-size: 30px;
}

/*
|------------------------------------------------------|
|====================|  LESSONS  |=====================|
|------------------------------------------------------|
*/

.lessons .title h2 {
  margin: 10px 0;
  padding-right: 5px;
}

.lessons .physics-title .under-line {
  margin: 10px 0;
  width: 100px;
  height: 3px;
  background-color: var(--color-primary);
  border-radius: 25px;
}

.lessons .chemistry-title .under-line {
  margin: 10px 0;
  width: 100px;
  height: 3px;
  background-color: var(--color-primary);
  border-radius: 25px;
}

.lessons .math-title .under-line {
  margin: 10px 0;
  width: 100px;
  height: 3px;
  background-color: var(--color-primary);
  border-radius: 25px;
}

.lessons .geometry-title .under-line {
  margin: 10px 0;
  width: 110px;
  height: 3px;
  background-color: var(--color-primary);
  border-radius: 25px;
}

.lessons .row {
  margin: 20px 0;
}

.lessons a {
  background-color: var(--color-background);
  width: 20%;
  margin: 4.2px;
  padding: 25px;
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  cursor: pointer;
}

body.light-mode .lessons a {
  background-color: #ececec;
  transition: all 0.2s ease;
}

body.light-mode .lessons a:hover {
  background-color: #dedede;
  transition: all 0.2s ease;
  box-shadow: 0 0 10px var(--color-primary);
}

body.dark-mode .lessons a {
  background-color: #262729;
  transition: all 0.2s ease;
}

body.dark-mode .lessons a:hover {
  background-color: #363636;
  transition: all 0.2s ease;
  box-shadow: 0 0 10px var(--color-primary);
}

.lessons a img {
  width: 60%;
}

.lessons a h3 {
  font-size: 30px;
}

.lesson .project {
  background-color: var(--color-background);
  width: 20%;
  margin: 14.2px;
  padding: 15px;
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  cursor: pointer;
}

body.light-mode .lesson .project {
  background-color: #ececec;
  transition: all 0.2s ease;
}

body.light-mode .lesson .project:hover {
  background-color: #dedede;
  transition: all 0.2s ease;
  box-shadow: 0 0 10px var(--color-primary);
}

body.dark-mode .lesson .project {
  background-color: #262729;
  transition: all 0.2s ease;
}

body.dark-mode .lesson .project:hover {
  background-color: #363636;
  transition: all 0.2s ease;
  box-shadow: 0 0 10px var(--color-primary);
}

/*
|------------------------------------------------------|
|=====================|  LESSON  |=====================|
|------------------------------------------------------|
*/

.lesson .project img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.lesson .project h3 {
  width: 100%;
  margin: 10px 0;
  padding-top: 5px;
  border-top: 1px solid var(--color-accent);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lesson .project p {
  width: 100%;
  margin: 0;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lesson .project .tags {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.lesson .project .tags p {
  width: fit-content;
  padding: 3px 10px;
  margin-left: 3px;
  background-color: var(--color-primary);
  border-radius: 10px;
  font-size: 12px;
}

.lesson .project a {
  border: 1px solid var(--color-accent);
  width: 100%;
  text-align: center;
  padding: 8px 0;
  margin-top: 10px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.lesson .project a:hover {
  background-color: var(--color-primary);
  transition: all 0.2s ease;
}

.lesson .lab-title h2 {
  margin: 5px 0;
}

.lesson .lab-title .under-line {
  margin: 10px 0;
  width: 200px;
  height: 3px;
  background-color: var(--color-primary);
  border-radius: 25px;
}

.lesson .lesson-title h2 {
  margin: 5px 0;
}

.lesson .lesson-title .under-line {
  margin: 10px 0;
  width: 200px;
  height: 3px;
  background-color: var(--color-primary);
  border-radius: 25px;
}

/* |================  QUESTIONS PAGE =================|*/

.questions .container .hero {
  width: 100%;
  margin-bottom: 200px;
}

.questions .container .hero .search-part {
  width: 50%;
}
.questions .container .hero .search-part h1 {
  margin-right: 40px;
  margin-top: 160px;
  letter-spacing: 1px;
}

.questions .container .hero .search-part span {
  font-size: 40px;
  font-weight: 600;
  animation: color 4s infinite;
}

@keyframes color {
  0% {
    color: var(--color-heading);
  }

  50% {
    color: var(--color-accent);
  }

  100% {
    color: var(--color-heading);
  }
}

.questions .container .hero .search-part .input input {
  width: 240px;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 20px;
  color: #000;
  background-color: #fdfdfd;
  font-weight: 600;
  margin-right: 10px;
  box-shadow: 0 0 5px #d1d1d1;
  font-family: var(--font-default);
}

.questions .container .second-part {
  width: 100%;
  padding-left: -20px;
}

.questions .container .second-part .right {
  padding: 20px 20px 50px 20px;
  width: 20%;
  background-color: #25bff73a;
  border-radius: 0 12px 12px 12px;
  margin-right: -50px;
}

.questions .container .second-part .right h2 {
  text-align: center;
  margin-top: -10px;
}

.questions .container .second-part .right .Lessons button {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0 12px 12px 12px;
  padding: 15px;
  background-color: var(--color-accent);
  border: none;
  outline: none;
  color: var(--color-heading);
  font-size: 20px;
  cursor: pointer;
}

.questions .container .second-part .right .Lessons button:hover {
  background-color: var(--color-secondary);
}

.questions .container .second-part .right .Lessons button:active {
  background-color: var(--color-primary);
}

.questions .container .second-part .left {
  width: 80%;
  margin-top: -20px;
}

.questions .container .second-part .left .categories {
  width: 100%;
}

.questions .container .second-part .left .categories .model {
  width: 51%;
  background-color: #25bff73a;
  height: 60px;
  border-radius: 12px 0 12px 12px;
  padding: 10px 15px;
}

.questions .container .second-part .left .categories .model button {
  border: 1px #3636367e solid;
  color: var(--color-default);
  width: 50%;
  cursor: pointer;
  border-radius: 12px 0 0 12px;
  background-color: var(--color-accent);
  font-size: 20px;
}

.questions .container .second-part .left .categories .model button:first-child {
  border-radius: 0 0 12px 0;
}

.questions .container .second-part .left .categories .model button {
  background-color: var(--color-accent);
}

.questions .container .second-part .left .categories .model button:hover {
  background-color: var(--color-secondary);
}

.questions .container .second-part .left .categories .model button:active {
  background-color: var(--color-primary);
}

.questions .container .second-part .left .categories .year {
  width: 15%;
  margin-right: 10px;
}

.questions .container .second-part .left .categories .year select {
  padding: 20px 16px;
  background-color: #25bff73a;
  color: var(--color-default);
  border: none;
  border-radius: 12px;
  height: 80px;
  font-size: 20px;
  font-family: vazir;
  outline: none;
}

.questions .container .second-part .left .categories .class {
  width: 15%;
  margin-right: 20px;
}

.questions .container .second-part .left .categories .class select {
  padding: 20px 16px;
  background-color: #25bff73a;
  color: var(--color-default);
  border: none;
  border-radius: 12px;
  height: 80px;
  font-size: 20px;
  font-family: vazir;
  outline: none;
}

.questions .container .second-part .left .categories .Scientific-field {
  width: 15%;
  margin-right: -20px;
}

.questions .container .second-part .left .categories .Scientific-field select {
  padding: 20px 10px;
  background-color: #25bff73a;
  color: var(--color-default);
  border: none;
  border-radius: 12px;
  height: 80px;
  font-size: 20px;
  font-family: vazir;
  outline: none;
}

.questions .container .second-part .left .files {
  width: 100%;
}

.questions .container .second-part .left .files .box {
  width: 21%;
  height: 370px;
  background-color: #25bff73a;
  margin-right: 9px;
  padding: 10px;
  border-radius: 12px;
}

.questions .container .second-part .left .files .box img {
  width: 200px;
  height: 170px;
  border-radius: 12px;
}

.questions .container .second-part .left .files .box h3 {
  font-size: 16px;
}

.questions .container .second-part .left .files .box .buttons button {
  padding: 5px 38px;
  border: 1px #d8d8d866 solid;
  color: var(--color-default);
  cursor: pointer;
}

.questions
  .container
  .second-part
  .left
  .files
  .box
  .buttons
  button:first-child {
  border-radius: 0 12px 12px 0;
  background: linear-gradient(#399bfd, var(--color-secondary), #3c9cfc);
}

.questions
  .container
  .second-part
  .left
  .files
  .box
  .buttons
  button:last-child {
  border-radius: 12px 0 0 12px;
  background: linear-gradient(#36be63, #02b83f, #48c371);
}

/*
|----------------------------------------------------|
|=====================|  CHAT  |=====================|
|----------------------------------------------------|
*/

.chat .Channels {
  width: 25%;
  height: 700px;
  background-color: #25bff73a;
  border-radius: 12px;
  overflow-y: auto;
}

.chat .Message-section {
  width: 50%;
  height: 700px;
}

.chat .Message-section .Messages {
  width: 93.5%;
  height: 620px;
  background-color: #25bff73a;
  border-radius: 12px;
  margin-right: 20px;
  margin-left: 20px;
  overflow-y: auto;
}

.chat .Message-section .Messages .title {
  background-color: #2cc0f63a;
  border-radius: 12px 12px 0 0;
  height: 50px;
}

.chat .Contacts .title {
  background-color: #2cc0f63a;
  border-radius: 12px 12px 0 0;
  height: 50px;
}

.chat .Channels .title {
  background-color: #2cc0f63a;
  border-radius: 12px 12px 0 0;
  height: 50px;
}

.chat .Channels ul {
  padding: 0 10px;
}

.chat .Channels ul .channel {
  background-color: #25bff73a;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.chat .Channels ul .channel:hover {
  filter: brightness(90%);
  transform: scale(102%);
  transition: all 0.2s ease;
}

.chat .Channels ul .channel img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.chat .Channels ul .channel h3 {
  margin: 0;
  margin-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}

.chat .add button {
  width: 90%;
  padding: 5px 0;
  margin: 5px 13px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: #6fdb93;
  font-size: 18px;
}

.chat .Message-section .Send-section input {
  width: 60%;
  height: 30px;
  padding: 20px;
  font-size: 20px;
  border-radius: 12px;
  font-family: vazir;
  outline: none;
  border: none;
  background-color: #3dc8fa3a;
  color: var(--color-default);
}

.chat .Message-section .Send-section button {
  padding: 10px 25px;
  border-radius: 12px;
  border: none;
  outline: none;
  background-color: #3dc8fa3a;
  cursor: pointer;
  color: var(--color-default);
}

.chat .Contacts {
  width: 25%;
  height: 700px;
  background-color: #25bff73a;
  border-radius: 12px;
  overflow-y: auto;
}

.chat .Contacts ul {
  padding: 0 10px;
}

.chat .Contacts ul .user {
  background-color: #25bff73a;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.chat .Contacts ul .user:hover {
  filter: brightness(90%);
  transform: scale(102%);
  transition: all 0.2s ease;
}

.chat .Contacts ul .user img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.chat .Contacts ul .user h3 {
  margin: 0;
  margin-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}

.chat .Message-section .Messages .Message {
  padding: 10px 10px 10px 20px;
}

.chat .Message-section .Messages .Message img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.chat .img-name {
  margin-bottom: 8px;
}

.chat .img-name h4 {
  margin: 0;
  margin-right: 5px;
}

.chat .Message-section .Messages .Message .file {
  width: 98%;
  border-radius: 12px 0 12px 12px;
  background-color: #25bff73a;
  padding: 5px 10px;
}

.chat .Message-section .Messages .Message .file h5 {
  text-align: justify;
}

/*
|------------------------------------------------------|
|=====================|  CONTACT  |====================|
|------------------------------------------------------|
*/

.contact .container .board {
  position: relative;
  margin: 50px auto;
  width: 1000px;
  height: 460px;
  border: 3px solid var(--color-accent);
  border-radius: 46px 46px 50px 50px;
  border-top: none;
  display: flex;
  flex-direction: row;
  animation: border-dance 5s infinite;
}

@keyframes border-dance {
  0% {
    border-color: var(--color-accent);
  }

  50% {
    border-color: var(--color-heading);
  }

  100% {
    border-color: var(--color-accent);
  }
}

.contact .container .board .title {
  top: -3px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 20%;
}

.contact .container .board .title .befor-text {
  position: absolute;
  right: -2.5px;
  width: 7%;
  height: 100%;
  border-top: 3px solid var(--color-accent);
  border-right: 2px solid var(--color-accent);
  border-radius: 0 50px 0 0;
  animation: after-befor-border 5s infinite;
}

.contact .container .board .title .after-text {
  position: absolute;
  left: -2px;
  width: 36%;
  height: 100%;
  border-top: 3px solid var(--color-accent);
  border-left: 2px solid var(--color-accent);
  border-radius: 50px 0 0 0;
  animation: after-befor-border 5s infinite;
}

@keyframes after-befor-border {
  0% {
    border-color: var(--color-accent);
  }

  50% {
    border-color: var(--color-heading);
  }

  100% {
    border-color: var(--color-accent);
  }
}

.contact .container .board .title .text {
  position: absolute;
  top: -50px;
  right: 8%;
  width: 70%;
  height: 5%;
  font-size: 14px;
}

.contact .container .board .title .text h1 {
  animation: text-dance 5s infinite;
}

@keyframes text-dance {
  0% {
    color: var(--color-heading);
  }

  50% {
    color: var(--color-primary);
  }

  100% {
    color: var(--color-heading);
  }
}

.contact .container .board .screen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact .container .board .screen .right {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 50px 20px;
}

.contact .container .board .screen .right .inputs {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 100;
}

.contact .container .board .screen .right .inputs input {
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 14px;
  font-family: vazir;
}

.contact .container .board .screen .right .inputs label:nth-child(2) input {
  width: 80%;
}

.contact .container .board .screen .right select {
  width: 41%;
  padding: 5px;
  height: 60px;
  font-size: 14px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-family: vazir;
}

.contact .container .board .screen .right textarea {
  max-width: 480px;
  min-width: 480px;
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 10px;
  max-height: 20%;
  min-height: 20%;
  font-size: 16px;
  font-family: vazir;
}

.contact .container .board .screen .right button {
  width: 100%;
  padding: 18px;
  border-radius: 12px 12px 35px 12px;
  margin-top: 30px;
  font-size: 16px;
  background-color: var(--color-accent);
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: vazir;
  transition: background-color 0.2s ease;
}

.contact .container .board .screen .right button:hover {
  background-color: var(--color-primary);
  transition: background-color 0.2s ease;
}

.contact .container .board .screen .right button:active {
  background-color: var(--color-secondary);
}

.contact .container .board .screen .left {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

/*
|------------------------------------------------------|
|=====================|  FOOTER  |=====================|
|------------------------------------------------------|
*/

footer p strong {
  color: var(--color-accent);
}

/*
|------------------------------------------------------|
|======================|  IONS  |======================|
|------------------------------------------------------|
*/

#ions {
  direction: ltr;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#invoke {
  width: 500px;
  height: 180px;
  border: 1px solid var(--color-default);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

#invoke div {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#invoke button {
  padding: 10px 50px;
  font-size: 18px;
  color: var(--color-default);
  border: 1px solid var(--color-default);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

#invoker:hover {
  background-color: rgb(67, 255, 67);
  color: #000;
  transition: all 0.3s ease;
}

.buttons {
  display: flex;
  flex-direction: row;
}

#clear {
  margin-right: 10px;
}

#clear:hover {
  background-color: rgb(255, 67, 67);
}

#invoke p {
  color: var(--color-default);
  font-size: 30px;
}

#first-box {
  min-width: 50px;
  text-align: center;
}

#second-box {
  min-width: 50px;
  text-align: center;
}

#result {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

#result p {
  width: fit-content;
  display: inline-block;
}

#right {
  margin-top: 34px;
  margin-left: 5px;
}

#table {
  display: grid;
  grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px;
  gap: 5px;
}

.box {
  height: 70px;
  border: 0;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.box:nth-child(2) {
  grid-column: 10;
}

.box:nth-child(5) {
  grid-column: 5;
}

.box:nth-child(13) {
  grid-column: 5;
}

.box:nth-child(21) {
  grid-column: 5;
}

.box:nth-child(29) {
  grid-column: 5;
}

.box.s {
  background-color: #ffb932;
}

.box.p {
  background-color: #649bff;
}

.box.d {
  background-color: #82db79;
}

.box span {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box span h2 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin: 0;
}

.box span sub {
  align-self: flex-end;
  margin-right: 3px;
}

.box span sup {
  align-self: flex-start;
  margin-left: 3px;
  font-size: 12px;
}

.box p {
  font-size: 15px;
  margin: 0;
}

.group {
  display: none;
}

@media only screen and (max-width: 480px) {
  #ions {
    direction: ltr;
    width: 100%;
    margin: 0 auto;
  }

  #invoke {
    width: 95%;
    height: 210px;

    margin: auto;
    margin-bottom: 30px;
  }
  #table {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px;
    gap: 5px;
  }

  .box:nth-child(2) {
    grid-column: 2;
  }

  .box:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
  }
  .box:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }
  .box:nth-child(5) {
    grid-column: 3;
    grid-row: 1;
  }
  .box:nth-child(11) {
    grid-column: 1;
    grid-row: 3;
  }
  .box:nth-child(12) {
    grid-column: 2;
    grid-row: 3;
  }
  .box:nth-child(13) {
    grid-column: 3;
    grid-row: 3;
  }
  .box:nth-child(19) {
    grid-column: 1;
    grid-row: 4;
  }
  .box:nth-child(20) {
    grid-column: 2;
    grid-row: 4;
  }
  .box:nth-child(21) {
    grid-column: 3;
    grid-row: 5;
  }
  .box:nth-child(22) {
    grid-column: 4;
    grid-row: 5;
  }
  .box:nth-child(23) {
    grid-column: 5;
    grid-row: 5;
  }
  .box:nth-child(24) {
    grid-column: 3;
    grid-row: 6;
  }
  .box:nth-child(25) {
    grid-column: 4;
    grid-row: 6;
  }
  .box:nth-child(26) {
    grid-column: 5;
    grid-row: 6;
  }
  .box:nth-child(27) {
    grid-column: 1;
    grid-row: 5;
  }
  .box:nth-child(28) {
    grid-column: 2;
    grid-row: 5;
  }
  .box:nth-child(29) {
    grid-column: 3;
    grid-row: 7;
  }
  .box:nth-child(30) {
    grid-column: 4;
    grid-row: 7;
  }
  .box:nth-child(31) {
    grid-column: 5;
    grid-row: 7;
  }
  .box:nth-child(32) {
    grid-column: 3;
    grid-row: 8;
  }
  .box:nth-child(33) {
    grid-column: 4;
    grid-row: 8;
  }
  .box:nth-child(34) {
    grid-column: 5;
    grid-row: 8;
  }

  .box:nth-child(49) {
    grid-column: 3;
    grid-row: 7;
  }

  /*
|------------------------------------------------------|
|===================|  ION DETAILS  |==================|
|------------------------------------------------------|
*/

  #details {
    width: 1200px;
    margin: 0 auto;
  }

  #details .details {
    width: 100%;
    position: relative;
  }

  #details .box {
    padding: 20px;
    background-image: linear-gradient(45deg, #649bff, #82db79);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 0 0 10px #64e0ff;
    position: absolute;
    top: 5%;
    right: 80%;
  }

  #details .box .nums {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  #details .box h2 {
    font-size: 100px;
    color: #000;
  }

  #details .box sub {
    font-size: 50px;
    color: #000;
  }

  #details .box sup {
    font-size: 50px;
    color: #000;
  }

  #details .name h1 {
    margin: 0;
    font-size: 45px;
    font-weight: bold;
  }

  #details h1 {
    color: var(--color-heading);
  }

  #details .layers h1 {
    margin: 10px 0;
    font-size: 30px;
  }

  #details .layers p {
    width: 80%;
    text-align: center;
    font-size: 25px;
    margin-top: 10px auto;
  }

  #details .layers h2 {
    margin: 0;
    font-size: 30px;
  }

  #details .teif {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
  }

  #details .teif h1 {
    font-size: 30px;
    margin: 0;
    margin-left: 20px;
  }

  #details .teif img {
    width: 45%;
    border-radius: 10px;
    outline: 1px solid var(--color-accent);
    outline-offset: 5px;
  }

  #details .lweis {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 0;
  }

  #details .lweis h1 {
    margin: 0;
    font-size: 30px;
  }

  #details .lweis .shape {
    margin-right: 100px;
  }

  #details h2 {
    font-size: 30px;
    color: var(--color-heading);
  }

  #details .shape {
    width: 100px;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #details .shape .g-box {
    display: flex;
  }

  #details .shape .g-box:nth-child(5) {
    width: 10px;
    height: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  #details .shape .g-box:nth-child(2) {
    width: 50px;
    height: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  #details .shape .g-box:nth-child(3) {
    width: 10px;
    height: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  #details .shape .g-box:nth-child(4) {
    width: 50px;
    height: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  #details .shape .circle {
    width: 10px;
    height: 10px;
    background-color: var(--color-default);
    border-radius: 50%;
  }

  /*
|------------------------------------------------------|
|===================|  JERM MOLI  |====================|
|------------------------------------------------------|
*/

  .JermMoli {
    direction: ltr;
    height: 77vh;
  }

  .JermMoli .mode {
    margin-bottom: 40px;
  }

  .JermMoli .body {
    width: 100%;
  }

  .JermMoli .body form {
    width: 100%;
  }

  .JermMoli input {
    width: 80px;
    font-family: vazir;
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    margin-right: 5px;
    text-align: center;
  }

  .JermMoli select {
    background-color: var(--color-background);
    color: var(--color-default);
    font-family: vazir;
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 10px;
    margin: 0 5px;
  }

  .JermMoli span {
    font-size: 38px;
    margin: 0 5px;
  }

  .JermMoli p {
    font-size: 24px;
    margin: 0;
  }

  /*
|------------------------------------------------------|
|======================|  404  |=======================|
|------------------------------------------------------|
*/

  .not-found {
    width: 1200px;
    margin: 0 auto;
    position: relative;
  }

  .not-found img {
    width: 50%;
  }

  .not-found h1 {
    position: absolute;
    top: 90%;
    font-size: 40px;
    margin: 0;
  }

  /*
|------------------------------------------------------|
|===================|  RESPONSIVE  |===================|
|------------------------------------------------------|
*/

  @media only screen and (max-width: 768px) {
    .slider .slick-slider {
      height: 300px;
    }
    .slider .slick-slider .slick-list img {
      height: 300px;
      border-radius: 10px;
    }
    .slider .slick-slider .slick-list {
      height: 300px;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  @media only screen and (max-width: 1024px) {
    .categories.f-wrap {
      flex-wrap: nowrap;
    }
    .container {
      max-width: 100%;
    }
    .lesson .project {
      background-color: var(--color-background);
      width: 25%;
    }
  }

  @media only screen and (max-width: 480px) {
    /* |=================  HOME PAGE  =================|*/

    .slider {
      width: 95%;
      height: 140px;
      margin: 0 auto;
    }

    .slider .slick-slider {
      height: 140px;
    }

    .slider .slick-slider .slick-list {
      height: 140px;
      border-radius: 10px;
      cursor: pointer;
    }

    .slider .slick-slider .slick-list img {
      height: 140px;
      border-radius: 10px;
    }

    .slick-prev:before,
    .slick-next:before {
      display: none;
    }

    .categories.f-wrap {
      flex-wrap: wrap;
    }

    .category-title h2 {
      width: fit-content;
      margin: 5px auto;
    }

    .category-title .under-line {
      margin: 0 auto;
    }

    .category-box {
      width: 30%;
      margin: 13.563px auto;
    }

    .category-box img {
      width: 80%;
    }

    .category-box h2 {
      font-size: 22px;
      margin: 10px 0 0;
    }

    /* |=================  LESSONS PAGE  =================|*/

    .lessons .container {
      overflow: hidden;
    }

    .lessons .lesson-row {
      width: fit-content;
      margin: 15px 0;
    }

    .lessons .row-lessons {
      width: 100%;
      overflow-x: scroll;
      scrollbar-width: none;
    }

    .lessons .lesson-row .lesson-box {
      width: 180px;
      margin: 0 10px;
    }

    .lessons .lesson-row .lesson-box h3 {
      font-size: 26px;
      margin: 20px 0 0;
    }

    .lesson .lab-title h2 {
      width: fit-content;
      margin: 5px auto;
    }

    .lesson .lab-title .under-line {
      margin: 10px auto;
    }

    .lesson .project {
      width: 60%;
      margin: 14.2px auto;
    }

    /* |=================  CONTACT PAGE  =================|*/

    .contact .container .board {
      width: 390px;
      height: 850px;
      border: none;
    }

    .contact .container .board .screen {
      flex-direction: column;
    }

    .contact .container .board .screen .right textarea {
      max-width: 300px;
      min-width: 300px;
      margin-top: 30px;
      margin-right: 15px;
    }

    .contact .container .board .title .text {
      position: absolute;
      top: -70px;
      text-align: center;
      margin-right: 10px;
    }

    .contact .container .board .title .after-text {
      border: none;
    }

    .contact .container .board .title .befor-text {
      border: none;
    }

    .contact .container .board .screen .right {
      margin-top: 20px;
      width: 90%;
    }

    .contact .container .board .screen .right button {
      width: 90%;
      padding: 18px;
      border-radius: 12px;
      margin-right: 15px;
    }

    .contact .container .board .screen .right .inputs {
      flex-direction: column;
      margin-right: 15px;
    }

    .contact .container .board .screen .right select {
      width: 91%;
    }

    .contact .container .board .screen .right .inputs input {
      width: 80%;
      margin-bottom: 15px;
    }

    .contact .container .board .screen .left img {
      width: 300px;
    }

    .contact .container .board .screen .left {
      width: 60%;
      margin-right: 30px;
    }

    .contact .container .board .screen .right .inputs {
      height: 70%;
    }

    .contact .container .board .title .text {
      width: 80%;
    }

    /*
|---------------------------------------------------|
|===================|  QUESTION  |==================|
|---------------------------------------------------|
*/

    .questions .container .second-part .right .Lessons {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .questions .container .second-part .right .Lessons button {
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 0 12px 12px 12px;
      padding: 15px;
      background-color: var(--color-accent);
      border: none;
      outline: none;
      color: var(--color-heading);
      font-size: 20px;
      cursor: pointer;
    }

    .questions .container .second-part .right .Lessons button:hover {
      background-color: var(--color-secondary);
    }

    .questions .container .second-part .right .Lessons button:active {
      background-color: var(--color-primary);
    }

    .questions .container .second-part .left {
      width: 80%;
      margin-top: -20px;
    }

    .questions .container .hero {
      flex-direction: column;
      margin-bottom: 50px;
    }

    .questions .container .hero .search-part {
      width: 100%;
      text-align: center;
    }

    .questions .container .hero .search-part h1 {
      margin: 20px 0;
    }

    .questions .container .second-part {
      flex-direction: column;
    }

    .questions .container .second-part .right {
      width: 90%;
      height: 10px;
      margin-right: 0;
      border-radius: 12px;
    }

    .questions .container .second-part .right h2 {
      margin-bottom: 50px;
    }

    .questions .container .second-part .left {
      width: 100%;
      margin-top: 20px;
    }

    .questions .container .second-part .left .categories {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }

    .second-part .left .categories .class select {
      width: 300%;
    }

    .questions .container .second-part .left .categories > div {
      width: 100%;
      margin: 10px 0;
    }

    .questions .container .second-part .left .files .box {
      width: 70%;
      margin: 10px 0;
    }

    .questions .container .second-part .left .files .box img {
      width: 80%;
      margin: 0 31px;
    }

    .questions .container .second-part .left .files .box h3 {
      margin-top: -6px;
      font-size: 18px;
      text-align: center;
    }

    .questions .container .second-part .left .files .box .buttons button {
      width: 50%;
    }

    .questions
      .containe
      .second-part
      .left
      .categories
      .Scientific-field
      select {
      margin-right: 50px;
    }

    .questions .container .second-part .left .categories .model {
      border-radius: 12px 12px 12px 12px;
    }

    .questions
      .container
      .second-part
      .left
      .categories
      .model
      button:first-child {
      border-radius: 0 12px 12px 0;
    }

    .questions .container .second-part .left .categories select {
      width: 100%;
    }

    .questions .container .second-part .left .categories .year {
      width: 150px;
      margin-right: 0;
    }

    .questions .container .second-part .left .categories .class{
      width: 260px ;
      margin: 0;
    }

    .questions .container .second-part .left .categories .Scientific-field{
      width: 150px ;
      margin: 0;
    }
    
  }

  /*
|----------------------------------------------|
|===================|  CHAT |==================|
|----------------------------------------------|
*/

  .chat {
    flex-wrap: wrap;
  }

  .chat .Channels {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
  }

  .chat .Message-section {
    order: 3;
    width: 99%;
  }

  .chat .Contacts {
    height: 300px;
    order: 2;
    width: 100%;
    margin-bottom: 10px;
  }

  .chat .Message-section {
    width: 100%;
    height: 500px;
  }

  .chat .Message-section .Messages {
    margin-bottom: 10px;
    width: 100%;
    margin-right: 0px;
  }

  .chat .Message-section .Send-section input {
    width: 50%;
  }

  .chat .Message-section .Send-section button {
    width: 18%;
    padding: 10px 10px;
  }

  footer p {
    font-size: 13px;
  }

  #go-top i {
    font-size: 22px;
  }
}
